@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Integração com o</h1>
</div>

<div class="container">
    <div class="row">
        <img src="~/images/trello-logo-blue.png" class="img-fluid mx-auto" style="width: 50%; height: 50%"/>
    </div>
</div>

<div class="container">
    <div class="row">
        <a class="btn btn-primary" asp-controller="Trello" asp-action="Index">Meu Trello</a>
    </div>
</div>
